{{- if .Values.ingress.enabled -}}
{{- $fullName := include "investlab-app.fullname" . -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "investlab-app.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with .Values.ingress.className }}
  ingressClassName: {{ . }}
  {{- end }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: {{ .Values.ingress.tls.secretName }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-frontend
                port:
                  number: {{ .Values.frontend.service.port }}
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-backend
                port:
                  number: {{ .Values.backend.service.port }}
          - path: /ws
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-backend
                port:
                  number: {{ .Values.backend.service.port }}
          - path: /static
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-backend
                port:
                  number: {{ .Values.backend.service.port }}
          - path: /media
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-backend
                port:
                  number: {{ .Values.backend.service.port }}
{{- end }}