# Redis configuration (via Bitnami dependency)
redis:
  enabled: true
  auth:
    enabled: true
    existingSecret: redis-auth
  master:
    persistence:
      enabled: true
      size: 32Gi
      storageClass: oci-bv
    replica:
      replicaCount: 3
      persistence:
        enabled: true
        size: 32Gi
        storageClass: oci-bv