apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: investlab-backend-secrets
  namespace: backend
  labels:
    app.kubernetes.io/name: investlab-backend
    app.kubernetes.io/component: api
    app.kubernetes.io/part-of: investlab
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: oci-vault
    kind: ClusterSecretStore
  target:
    name: investlab-backend-investlab-backend-secrets
    creationPolicy: Owner
    template:
      type: Opaque
      data:
        SECRET_KEY: "{{ .secretKey }}"
        DATABASE_PASSWORD: "{{ .databasePassword }}"
        CLERK_SECRET_KEY: "{{ .clerkSecretKey }}"
        CLERK_ISSUER: "{{ .clerkIssuer }}"
        CLERK_JWT_KEY: "{{ .clerkJwtKey }}"
        POLYGON_SECRET_KEY: "{{ .polygonSecretKey }}"
        ALPACA_SECRET_KEY: "{{ .alpacaSecretKey }}"
        MINIO_ACCESS_KEY: "{{ .minioAccessKey }}"
        MINIO_SECRET_KEY: "{{ .minioSecretKey }}"
  data:
    - secretKey: secretKey
      remoteRef:
        key: django-secret-key
    - secretKey: databasePassword
      remoteRef:
        key: postgres-password
    - secretKey: clerkSecretKey
      remoteRef:
        key: clerk-secret-key
    - secretKey: clerkIssuer
      remoteRef:
        key: clerk-issuer
    - secretKey: clerkJwtKey
      remoteRef:
        key: clerk-jwt-key
    - secretKey: polygonSecretKey
      remoteRef:
        key: polygon-secret-key
    - secretKey: alpacaSecretKey
      remoteRef:
        key: alpaca-secret-key
    - secretKey: minioAccessKey
      remoteRef:
        key: minio-access-key
    - secretKey: minioSecretKey
      remoteRef:
        key: minio-secret-key
