apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: minio
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.min.io/
    chart: minio
    targetRevision: 5.3.0
    helm:
      values: |
        rootUser: admin
        rootPassword: password123
        
        mode: standalone
        
        persistence:
          enabled: true
          size: 10Gi
          storageClass: oci-bv
          
        buckets:
          - name: investlab-media
            policy: none
            purge: false

        resources:
          requests:
            memory: 256Mi
  destination:
    server: https://kubernetes.default.svc
    namespace: minio