apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: minio
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: minio
    targetRevision: 17.0.21
    helm:
      values: |
        image:
          registry: docker.io
          repository: bitnami/minio
          tag: 2025.7.23-debian-12-r3
          pullPolicy: IfNotPresent

        console:
          enabled: true
          image:
            registry: docker.io
            repository: bitnami/minio-object-browser
            tag: 2.0.2-debian-12-r3
            pullPolicy: IfNotPresent
          service:
            type: ClusterIP

        defaultInitContainers:
          volumePermissions:
            enabled: true
            image:
              registry: docker.io
              repository: bitnami/os-shell
              tag: latest
              pullPolicy: IfNotPresent

        auth:
          existingSecret: minio-auth
        defaultBuckets: "investlab-media"
        persistence:
          enabled: true
          size: 10Gi
          storageClass: oci-bv
        service:
          type: ClusterIP
          ports:
            api: 9000
            
        resources:
          requests:
            memory: 256Mi
            cpu: 100m
          limits:
            memory: 512Mi
            cpu: 500m
  destination:
    server: https://kubernetes.default.svc
    namespace: minio
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true