apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgres-superuser
  namespace: postgres
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: oci-vault
    kind: ClusterSecretStore
  target:
    name: postgres-superuser
    creationPolicy: Owner
    template:
      type: kubernetes.io/basic-auth
      data:
        username: "postgres"
        password: "{{ .password }}"
  data:
    # - secretKey: username
    #   remoteRef:
    #     key: postgres-username
    - secretKey: password
      remoteRef:
        key: postgres-password