apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 66.2.0 # You can check for newer versions on Artifact Hub
    helm:
      releaseName: prometheus
      # You can add custom values here to configure Grafana/Prometheus retention etc.
      values: |
        grafana:
          enabled: true
          adminPassword: "prom-operator" 
        prometheus:
          prometheusSpec:
            retention: 10d
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      # REQUIRED: The CRDs for Prometheus are too large for client-side apply
      - ServerSideApply=true
