apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
  annotations:
    argocd.argoproj.io/sync-wave: "-1" # Apply this AFTER cert-manager is installed
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: mikolajkapica7@gmail.com
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
      - http01:
          ingress:
            class: nginx
